* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Caveat-Regular";
  src: url("/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("/fonts/Caveat-Bold.ttf");
}
nav {
  min-height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  min-height: 55px;
  width: 167px;
  margin-left: 50px;
}
nav .links {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
}
nav .links a {
  text-decoration: none;
  font-family: "Caveat-Regular";
  font-size: 25px;
  color: #000;
}
nav .links a:hover {
  border-bottom: 2px solid #000;
}
nav .links .login {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  background-color: #ffd972;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 90%;
}
footer .left {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .left .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
}
footer .mid {
  min-height: 50px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .mid .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
  text-decoration: none;
  margin: 0px 20px;
}
footer .right {
  min-height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .right img {
  min-height: 22px;
  width: 22px;
}

.home-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home-wrapper .home-circle-one {
  min-height: 350px;
  width: 350px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #ffd972;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 999;
}
.home-wrapper .home-circle-one .circle-text-container {
  min-height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt {
  font-family: "Caveat-Bold";
  font-size: 24px;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt-two {
  font-family: "Lato-Regular";
  font-size: 13px;
  text-align: center;
}
.home-wrapper .home-circle-two {
  min-height: 170px;
  width: 170px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #fcbcb8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  right: 32%;
}
.home-wrapper .home-circle-two .circle-two-text-container {
  min-height: 80px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-two .circle-two-txt {
  font-family: "Lato-Italic";
  font-size: 10px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
