* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --nav-min-height:90px;
  padding-top: var(--nav-min-height);
  height: 100%;
  overflow: none;
  bottom: 0;
  overflow: none;
  bottom: 0;
  right: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* main fonts */
@font-face {
  font-family: "Caveat-Regular";
  src: url("/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("/fonts/Caveat-Bold.ttf");
}
/* nav  stuff */
nav {
  height: var(--nav-height);
  min-height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  /* background-color: #0000001f; */
  transform: transform 0.2s;
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-min-height)));
}

nav .logo {
  min-height: 55px;
  width: 167px;
  margin-left: 50px;
}

nav .logo img {
  min-height: 55px;
  width: 167px;
}

nav .links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
}

nav .links a {
  text-decoration: none;
  font-family: "Lato-Regular";
  font-size: 25px;
  color: #000;
}

nav .links a:hover {
  border-bottom: 2px solid #000;
}

nav .links .login {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  background-color: #ffd972;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 941px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav .logo {
    margin-top: 20px;
  }
  nav .links {
    width: 100%;
    padding: 0px 10px;
  }
  nav .links a {
    font-size: 20px;
    padding: 0px 5px;
  }
  
}
@media screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav .logo {
    margin-top: 20px;
  }
  nav .links {
    width: 100%;
    padding: 0px 20px;
  }
  nav .links a {
    font-size: 20px;
    padding: 0px 5px;
  }
}
@media screen and (max-width: 375px) {
  nav .logo {
    margin-top: 20px;
  }
  nav .links {
    padding: 0px 80px;
  }
  nav .links a {
    font-size: 15px;
    padding:0px 5px;
    flex-wrap: wrap;
  }
  nav .links .login {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #ffd972;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
/* footer  stuff */
#footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

#footer .left {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer .left .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
}

#footer .mid {
  min-height: 50px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer .mid .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
  text-decoration: none;
  margin: 0px 20px;
}

#footer .right {
  min-height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer .right img {
  min-height: 22px;
  width: 22px;
}

@media screen and (max-width: 800px) {
  #footer .left {
    margin-left: 20px;
  }
  #footer .right {
    margin-right: 20px;
  }
}
@media screen and (max-width: 680px) {
  #footer .mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.home-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home-wrapper .home-circle-one {
  min-height: 350px;
  width: 350px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #ffd972;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 999;
}
.home-wrapper .home-circle-one .circle-text-container {
  min-height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt {
  font-family: "Caveat-Bold";
  font-size: 24px;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt-two {
  font-family: "Lato-Regular";
  font-size: 13px;
  text-align: center;
}
.home-wrapper .home-circle-two {
  min-height: 170px;
  width: 170px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #fcbcb8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  right: 30%;
}
.home-wrapper .home-circle-two .circle-two-text-container {
  min-height: 80px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-two .circle-two-txt {
  font-family: "Lato-Italic";
  font-size: 10px;
  text-align: center;
}

@media screen and (width: 1920px) {
  .home-wrapper .home-circle-two {
    top: 20%;
    right: 37%;
  }
}
@media screen and (max-width: 1280px) {
  .home-wrapper .circles-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .home-wrapper .circles-container .home-circle-one {
    min-height: 300px;
    width: 300px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 120px;
    width: 120px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .home-wrapper .circles-container .home-circle-one {
    min-height: 250px;
    width: 250px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 100px;
    width: 100px;
    margin-top: 80px;
  }
  .home-wrapper .circles-container .home-circle-two .circle-two-text-container {
    min-height: 50px;
    width: 90px;
  }
}
@media screen and (max-width: 500px) {
  .home-wrapper .circles-container .home-circle-one {
    min-height: 200px;
    width: 200px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 100px;
    width: 100px;
    margin-top: 120px;
  }
  .home-wrapper .circles-container .home-circle-two .circle-two-text-container {
    min-height: 50px;
    width: 90px;
  }
}
/* browse stuff */
.browse-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/browse/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  color:black;
  z-index: -3;
}

.browse-container {
  margin-top: 189px;
  margin-bottom: 103px;
  z-index: 1;
  margin-right: 73.91px;
  color:black;
}

.browse-recipe-title {
  font-family: "Lato-Regular";
  font-size: 25px;
  width: 360px;
  margin-left: 107px;
  margin-bottom: 52px;
  font-weight: 900;
  color:black;
}

/* top row with pizza, burger, and white boxes */
.browse-box-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: 107px;
}

/* bottom row with rice, noodles, and white boxes */
.browse-box-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: 107px;
}

.browse-box-one {
  width: 524px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.browse-box-two {
  width: 524px;
  padding-left: 50.91px;
  margin-right: 73.91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.browse-box-container-one img {
  min-height: 50px;
  height: 263px;
  width: 300px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.browse-box-container-two {
  height: 263px;
  min-width: 224px;
  background-color: rgb(254, 254, 254);
  border-radius: 24px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color:black;
}

.browse-box-two-txt-title {
  margin-bottom: 21px;
  border-bottom: 3px solid #000000;
  color:black;
  font: normal normal normal 15px/18px Lato Black;
letter-spacing: 1.5px;
color: #000000;
}

#para-one, #para-two, #para-three, #para-four {
  width: 169px;
  height: 77px;
  font-size: 9px;
  color:black;
}

.browse-icon-one, img {
  min-width: 60px;
  margin-bottom: 12px;
  height: 24.46px;
  font-size: 9px;
  font-family: "Lato-Regular";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:black;
  /* background-color: #fcbcb8; */
}

@media screen and (max-width: 800px) {
  
    .browse-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 50%;}
      .browse-box-top {
        margin-top: 150px;
        width: 100%;
        /* // background-color: red; */}
        .left-txt {
          margin: 0 0;
        }

        img {
          min-height: 300px;
          width: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          object-fit: cover;
          overflow: hidden;
        }
      
    }

/* create stuff */
.create-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  /* top: 4em; */
  left: 0;
}

.create-recipe-form {
  margin: 149px;
  width: 100%;
  height: 100%;
  padding-right: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* float: center; */
}

.form-create-title {
  font-size: 25px;
  letter-spacing: 2.5px;
  font-family: "Lato-Black";
  font: normal normal normal 25px/30px;
}

.form-create-header {
  
 margin-bottom: 40px;
  position: relative;
}

.form-create-section title {
  height: 111.45px;
  position:relative;
  background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 120px;
  border: 1px solid;
  padding: 10px;
  background: linear-gradient(#000, #000) center bottom 5px/calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 980.16px;
 
}

.form-create input {
  height: 111.45px;
  background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
  background: linear-gradient(#000, #000) center bottom 5px/calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 980.16px;
  border: none;
}

.create-button {
  height: 30px;
  width: 80%;
  margin: 0;
  /* background-color: #EFA7A7; */
  bottom: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border: none;
  */
}

.create-btn {
  height: 52px;
  width: 422px;
  border-radius: 25px;
  background-color: #EFA7A7;
bottom: 400px;
  text-decoration: none;
position: relative;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;

  margin-left: 80px;

  margin: 410px;

}
.addBtn {
  height: 38px;
  width: 38px;
  position: relative;
  bottom: 100px;
  border-radius: 25px;
  background-color: #EFA7A7;
  left: 280;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  margin-left: 900px;
  z-index: 89;
   text-decoration-line: hidden; 

}

.addButton {
  /* font-size: 32rem;
  color: #fff; */

  color: #EFA7A7;
  height: 38px;
  width: 38px;
  overflow: hidden;
  position: relative;
  bottom: 100px;
  border-radius: 25px;
  background-color: #EFA7A7;

  text-decoration-line: hidden; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
border-inline-start-color: #fff;
  margin-left: 900px;
  z-index: 89;
}

 p{
  margin-top:15px;
  position: relative;
  color: white;
  font-size: 32px;
}

input::file-selector-button {
   display: none;
  width: 110px;
  height: 36.2px;
  z-index: 8;
  left: 830px;
  bottom: 0px;
  position: relative;
}

label {
  height: 36.2px;
  width: 110px;
  position: relative;
   bottom: 120px; 
  border-radius: 25px;
  background-color: #EFA7A7;
  box-shadow: 5px 10px 5px #00000029;

  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;

  margin-left: 840px;
  /* z-index:3; */

  

}

.custom-file-upload {
  height: 36.2px;
  width: 110px;
  position: relative;
  top: 60px;
  border-radius: 25px;
  background-color: #EFA7A7;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  margin-left: 850px;

  z-index: 8;
}
/* 
.clone-wrapper {
  
} */

.form-create-section-title{
  font: normal normal normal 20px/24px "Lato" Black;
letter-spacing: 2px;

 
}


#imgPreview{
  display: none;
  bottom: 8px;
  position: relative;
 border: none;
 height:40px;
 width: 40px;

}
#imgPreview:active{
 
  bottom: 8px;
  position: relative;
 border: none;
 height:40px;
 width: 40px;

}
.jquery-upload-form{
  right: 1040px;
  position: relative;

}
.add-input-text{
  padding: 240px;
  position: relative;
}

@media screen and (max-width: 370px) {
  
  .create-wrapper form{
  position: relative;
  flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    padding-left: 40px;
    width: 500px;
  /* bottom: 40em; */
  
    align-content: center;
  }
  .create-wrapper input{
    width: 300px;
  }
 .create-btn{
  width: 40px;
  right: 80px;
  position: relative;
 }
 .form-create-title{
  width:300px;
  padding-left: 40px;
 }
   
}

@media screen and (max-width: 500px) {
  
  .create-wrapper form{
  position: relative;
  flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    padding-left: 40px;
    width: 200px;
  /* bottom: 40em; */
  
    align-content: center;
  }
  .create-wrapper input{
    width: 500px;
  }
 .create-btn{
  width: 40px;
  right: 80px;
  position: relative;
 }
 .form-create-title{
  width:300px;
  padding-left: 40px;

 }

 
}
   
/* @media all, screen  and (min-width: 375px) {
   .create-recipe-form {
    width: 1em;
    max-height: 15em;
    margin-top: 50em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .create-wrapper input {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: center;
    /* margin-right: 200px;} */
    

@media screen and (max-width: 950px) {
  .create-wrapper input {
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
   
  }
}



@media screen and (width: 1920px) {
  .create-wrapper  {
    width: 40%;
  }
}
@media screen and (max-width: 637px) {
  .create-wrapper form {
    position: relative;
    min-height: 100%;
    max-width: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 260px;
  }
  .form-create-title{
    margin-left: 240px;
  }
  .add-input-text{
    padding: 240px;
    position: relative;
  }

 
 
}








/* login stuff */
.log-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 217, 114);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.log-container {
  margin-top: 189px;
  margin-bottom: 103px;
  z-index: 1;
  margin-right: 73.91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.log {
  left: -250px;
  height: 100%;
  width: 250px;
  display: flex;
  position: relative;
  padding-left: 240px;
  padding-right: 300px;
  margin-left: 276px;
  /* top: 100px;  */
  align-items: center;
  justify-content: center;
  /* background-color: #fcbcb8; */
  /* column-gap: 30px; */
  float: center;
  /* overflow: scroll; */
}

.signup {
  position: relative;
  left: -250px;
  margin-left: 250px;
}

.form-content-login-title {
  font-family: "Lato-Regular";
  letter-spacing: 3px;
  font: normal normal normal 30px/36px Lato;
}

.form-content-login-login-link {
  font-family: "Lato-Italic";
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

#log-butt {
  height: 52px;
  width: 209px;
  border-radius: 25px;
  background-color: #ffd972;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}

#signup-butt {
  height: 52px;
  width: 250px;
  border-radius: 25px;
  background-color: #ffd972;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}

.butts {
  font-size: 25px;
  letter-spacing: 2.5px;
  font-family: "Lato-Regular";
  font: normal normal normal 25px/30px Lato;
}

form {
  font-family: "Lato-Regular";
}

.sig input{
  height: 30px;
 background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
  background:linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 250.03px;
  padding: 10px;
  border: none;

}
.lo input{
  height: 30px;
  background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
  background: linear-gradient(#000, #000) center bottom 5px/calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 250.03px;
  padding: 10px;
  border: none;
}

::-webkit-input-placeholder {
  color: black;
}

.yourRecipe-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/browse/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
}
.yourRecipe-wrapper .yR-wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yourRecipe-wrapper .yR-wrapper .yR-head {
  min-height: 50px;
  width: 80%;
  margin-top: 150px;
}
.yourRecipe-wrapper .yR-wrapper .yR-head .yR-head-txt {
  font-family: "Caveat-Bold";
  font-size: 25px;
  color: #000000;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container {
  display: flex;
  align-items: center;
  min-height: 400px;
  width: 80%;
  margin-bottom: 30px;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img {
  position: relative;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img img {
  min-height: 260px;
  width: 300px;
  border-radius: 10%;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .view-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #ffd972;
  border: none;
  color: #000;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Caveat-Regular";
  cursor: pointer;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .view-btn .view-btn-link {
  text-decoration: none;
  color: #000;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .edit-btn {
  position: absolute;
  top: 110%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #ffd972;
  border: none;
  color: #000;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Caveat-Regular";
  cursor: pointer;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .edit-btn .edit-btn-link {
  text-decoration: none;
  color: #000;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .delete-btn {
  position: absolute;
  top: 110%;
  left: 70%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #ffd972;
  border: none;
  color: #000;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Caveat-Regular";
  cursor: pointer;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 260px;
  width: 300px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: #fff;
  font: normal normal normal 15px/18px "Lato" Black;
letter-spacing: 1.5px;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-txt-box .yR-txt-one {
  font-family: "Lato-Black";
  font-size: 15px;
  color: #000000;
  border-bottom: 2px solid #000;
  font: normal normal normal 15px/18px "Lato" Black;
letter-spacing: 1.5px;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-txt-box .yR-txt-two {

  font: normal normal normal 9px/11px "Lato";
  letter-spacing: 0.9px;
color: #000000;
  width: 138px;
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-txt-box .yR-txt-three {
  font-family: "Lato-Regular";
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
  
}
.yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-txt-box .yR-txt-four {
  font-family: "Lato-Regular";
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
}
@media screen and (max-width: 640px) {
  .yourRecipe-wrapper {
    margin-top: 100px;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-head {
    min-height: 24px;
    width: 293px;
    margin: 0 auto;
    margin-top: 200px;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-head .yR-head-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 19px;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img img {
    min-height: 150px;
    width: 298px;
    border-radius: 10%;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .edit-btn {
    position: absolute;
    top: 300%;
    left: 30%;
  }
  .yourRecipe-wrapper .yR-wrapper .yR-recipe-container .yR-img .delete-btn {
    position: absolute;
    top: 300%;
    left: 70%;
  }
  .yourRecipe-wrapper .yR-wrapper .empty {
    min-height: 200px;
    width: 0px;
  }
}
.viewRep-wrapper {
  min-height: 100%;
  width: 100%;
}
.viewRep-wrapper .lr-container {
  margin-top: 100px;
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.viewRep-wrapper .lr-container .left-viewRep {
  min-height: 420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.viewRep-wrapper .lr-container .left-viewRep .left-txt {
  font-family: "Lato-Black";
  font-size: 25px;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(180deg);
  margin-left: 160px;
}
.viewRep-wrapper .lr-container .left-viewRep img {
  min-height: 400px;
  width: 450px;
  object-fit: cover;
  overflow: hidden;
}
.viewRep-wrapper .lr-container .right-viewRep {
  min-height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-one {
  font-family: "Lato-Black";
  font-size: 25px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-two {
  width: 300px;
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-three {
  font-family: "Lato-Black";
  font-size: 20px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-four {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-five {
  font-family: "Lato-Black";
  font-size: 20px;
}
.viewRep-wrapper .lr-container .right-viewRep .right-txt-six {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container {
  min-height: 300px;
  width: 50%;
}
.viewRep-wrapper .ingred-container .ingred-head {
  min-height: 40px;
  width: 100%;
  margin-left: 190px;
}
.viewRep-wrapper .ingred-container .ingred-head .head-txt {
  font-family: "Lato-Black";
  font-size: 25px;
}
.viewRep-wrapper .ingred-container .ingred-list {
  min-height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-left: 190px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-one {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-two {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-three {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-four {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-five {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-six {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-seven {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .ingred-container .ingred-list .ingred-txt-eight {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container {
  min-height: 300px;
  width: 50%;
  margin-top: 58px;
}
.viewRep-wrapper .instruction-container .instruction-head {
  min-height: 40px;
  width: 100%;
  margin-left: 190px;
}
.viewRep-wrapper .instruction-container .instruction-head .head-txt {
  font-family: "Lato-Black";
  font-size: 25px;
}
.viewRep-wrapper .instruction-container .instruction-list {
  min-height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-left: 190px;
}
.viewRep-wrapper .instruction-container .instruction-list .instruction-txt-one {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container .instruction-list .instruction-txt-two {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container .instruction-list .instruction-txt-three {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container .instruction-list .instruction-txt-four {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container .instruction-list .instruction-txt-five {
  font-family: "Caveat-Regular";
  font-size: 20px;
}
.viewRep-wrapper .instruction-container .instruction-list .edit-btn {
  border-radius: 25px;
  background-color: #ffd972;
  border: none;
  color: #000;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Caveat-Regular";
  margin-top: 60px;
}
.viewRep-wrapper .instruction-container .instruction-list .edit-btn .edit-btn-link {
  text-decoration: none;
  color: #000;
}
.viewRep-wrapper .empty {
  min-height: 150px;
}

@media screen and (max-width: 985px) {
  .viewRep-wrapper .lr-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .viewRep-wrapper .lr-container .right-viewRep {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
  }
}
@media screen and (max-width: 800px) {
  .viewRep-wrapper .lr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
  }
  .viewRep-wrapper .lr-container .left-viewRep {
    margin-top: 150px;
    width: 100%;
  }
  .viewRep-wrapper .lr-container .left-viewRep .left-txt {
    margin: 0 0;
  }
  .viewRep-wrapper .lr-container .left-viewRep img {
    min-height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
  }
  .viewRep-wrapper .lr-container .right-viewRep {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
  }
  .viewRep-wrapper .ingred-container {
    width: 50%;
  }
  .viewRep-wrapper .ingred-container .ingred-list {
    min-height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}