/* create stuff */
.create-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
 
}

.create-recipe-form {
  margin: 149px;
  width:100%;
  height:100%;
   left: 1em; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* float: center; */
}


.form-create-title {
  font-size: 25px;
  letter-spacing: 2.5px;
 font-family: "Lato-Black";
 font: normal normal normal 25px/30px ;

}


.form-create-wrapper {
  margin-top: 240px;
 padding-bottom: 40px;
 position: relative;

}
.form-create-section title {
  height: 111.45px;
 background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
  background:linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 980.16px;
  
  border: none;

}

.form-create input {
  height: 111.45px;
 background-color: #ffd972;
  /* text-decoration:  3px  underline #000000; */
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px;
  background:linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat;
  color: black;
  width: 980.16px;
  
  border: none;

}
.create-button {
  height: 30px;
  width: 80%;
  margin: 0 ;
  /* background-color: #EFA7A7; */
  bottom: 0px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: none;
  */
  
}

.create-btn {
  height: 52px;
  width: 422px;
  border-radius: 25px;
  background-color: #EFA7A7;
  box-shadow: 5px 10px 5px #00000029;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  margin: 410px ;
  
}

.create-add {
  height: 38px;
  width: 38px;
  position: relative;
  bottom: 100px;
  border-radius: 25px;
  background-color: #EFA7A7;
  box-shadow: 5px 10px 5px #00000029;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  margin-left: 900px;
  
}

.create-files {
  height: 36.2px;
  width: 110px;
  position: relative;
  bottom: 100px;
  border-radius: 25px;
  background-color: #EFA7A7;
  box-shadow: 5px 10px 5px #00000029;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  margin-left: 850px;

}
  
 
  