/* create stuff */
.create-wrapper {
    min-height: 100vh;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:  rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  
 
  