/* footer  stuff */
#footer {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // works on home page but not on browse
  position: fixed;
  bottom: 0;
}

#footer .left {
  min-height: 50px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer .left .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
}
#footer .mid {
  min-height: 50px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer .mid .foot-txt {
  color: #000;
  font-size: 15px;
  font-family: "Lato-Italic";
  text-decoration: none;
  margin: 0px 20px;
}
#footer .right {
  min-height: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer .right img {
  min-height: 22px;
  width: 22px;
}

@media screen and (max-width: 800px) {
  #footer .left {
    margin-left: 20px;
  }
  #footer .right {
    margin-right: 20px;
  }
}
@media screen and (max-width: 680px) {
  #footer .mid {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
