.home-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home-wrapper .home-circle-one {
  min-height: 350px;
  width: 350px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #ffd972;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 999;
}
.home-wrapper .home-circle-one .circle-text-container {
  min-height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt {
  font-family: "Caveat-Bold";
  font-size: 24px;
}
.home-wrapper .home-circle-one .circle-text-container .circle-one-txt-two {
  font-family: "Lato-Regular";
  font-size: 13px;
  text-align: center;
}
.home-wrapper .home-circle-two {
  min-height: 170px;
  width: 170px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #fcbcb8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  right: 30%;
}
.home-wrapper .home-circle-two .circle-two-text-container {
  min-height: 80px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-wrapper .home-circle-two .circle-two-txt {
  font-family: "Lato-Italic";
  font-size: 10px;
  text-align: center;
}

@media screen and (width: 1920px) {
  .home-wrapper .home-circle-two {
    top: 20%;
    right: 37%;
  }
}
@media screen and (max-width: 1280px) {
  .home-wrapper .circles-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .home-wrapper .circles-container .home-circle-one {
    min-height: 300px;
    width: 300px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 120px;
    width: 120px;
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .home-wrapper .circles-container .home-circle-one {
    min-height: 250px;
    width: 250px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 100px;
    width: 100px;
    margin-top: 80px;
  }
  .home-wrapper .circles-container .home-circle-two .circle-two-text-container {
    min-height: 50px;
    width: 90px;
  }
}
@media screen and (max-width: 500px) {
  .home-wrapper .circles-container .home-circle-one {
    min-height: 200px;
    width: 200px;
  }
  .home-wrapper .circles-container .home-circle-two {
    min-height: 100px;
    width: 100px;
    margin-top: 120px;
  }
  .home-wrapper .circles-container .home-circle-two .circle-two-text-container {
    min-height: 50px;
    width: 90px;
  }
}/*# sourceMappingURL=home.css.map */