nav {
  min-height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    min-height: 55px;
    width: 167px;
    margin-left: 50px;

    img {
      min-height: 55px;
      width: 167px;
    }
  }

  .links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;

    a {
      text-decoration: none;
      font-family: "Caveat-Regular";
      font-size: 25px;
      color: #000;
    }

    a:hover {
      border-bottom: 2px solid #000;
    }

    .login {
      height: 50px;
      width: 150px;
      border-radius: 25px;
      background-color: #ffd972;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

// tablet media query
@media screen and (max-width: 941px) {
  nav {
    display: flex;
    flex-direction: column;

    .logo {
      margin-top: 20px;
    }

    .links {
      width: 100%;
      padding: 0px 10px;
      a {
        font-size: 20px;
        padding: 0px 5px;
      }
    }
  }
}

// phone media query
@media screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;

    .logo {
      margin-top: 20px;
    }

    .links {
      width: 100%;
      padding: 0px 20px;
      a {
        font-size: 20px;
        padding: 0px 5px;
      }
    }
  }
}

// phone media query
@media screen and (max-width: 375px) {
  nav {
    .logo {
      margin-top: 20px;
    }

    .links {
      padding: 0px 50px;
      a {
        font-size: 20px;
        padding: 0px 15px;
      }
    }
  }
}
