* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --nav-min-height:90px;
  padding-top: var(--nav-min-height);
  height: 100%;
  overflow: none;
  bottom: 0;
  overflow: none;
  bottom: 0;
  right: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* main fonts */

@font-face {
  font-family: "Caveat-Regular";
  src: url("/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("/fonts/Caveat-Bold.ttf");
}
